* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.main {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contents {
  width: 960px;
  margin: 0 auto;
}

.list {
  width: 960px;
  padding: 20px;
  display: inline-block;
}

.list:nth-child(odd) {
  background-color: lightgray;
}

.main2 {
  margin-bottom: 50px;
}

.boxes {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 30%;
  height: 200px;
  background-color: #ffd700;
  flex-wrap: wrap;
}

.box:nth-child(4n + 1) {
  background-color: #ff8c00;
}

.box:nth-child(3n + 2) {
  margin: 0 5% 0 5%;
}

.box:nth-child(-n + 6) {
  margin-bottom: 40px;
}
